
@{
    ViewBag.Title = "QR Code Login";
    Layout = "~/Views/Shared/_Auth.cshtml";
}

@section scripts {
    <script>
            $(function () {
                $("#btn-reset").click(function () {
                    $.ajax({
                        url: "/Auth/GetNewQrCode",
                        type: "GET",
                        success: function (result) {
                            $("#qrcode-container").html(result); // 更新 QRCode 區塊
                        },
                        error: function () {
                            alert("QRCode 更新失敗！");
                        }
                    });
                });
            });

            var seconds = 60;
            var timer = setInterval(function () {
                seconds--;
                if (seconds <= 0) {
                    clearInterval(timer);
                    alert("QrCode 已過期，請重新取得QrCode！");
                    location.href = '@Url.Action("index", "Auth")';
                }
            }, 1000);
    </script>
}

@section Title {
    <h1 id="page-title-mainlang" class="pt-tw-text10">QRCode登入</h1>
    <p id="page-title-sublang" class="">QRCode Login</p>
}

@section Main {
    <div id="qrcode-container" class="align-content-center">
        <img src="@ViewBag.QrImage" />
        <p>QRCode 對應網址：<a href="@ViewBag.QrText">QRCode連結</a></p>
    </div>
    <p class="text-center">
        <input id="btn-reset" type="button" class="btn btn-primary-sp btn-login-style001" value="重新整理 / Reset" />
    </p>
}