@model OrderSystem.Models.ViewModels.MenuViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Menu.cshtml";
}


@section Body {
    @if (ViewBag.Role == "Admin")
    {
        <h2>Admin</h2>
    }
    else
    {
        <h2>User</h2>
    }
}
